.gold {
    color: #FDD017;
}

.silver {
    color: #C0C0C0;
}

.bronze {
    color: #CD7F32;
}

.goldImage {
    background-position: 0 -50px;
    background-image: url("img/gold.png");
}

.silverImage {
    background-position: 0 -50px;
    background-image: url("img/silver.png");
}

.bronzeImage {
    background-position: 0 -50px;
    background-image: url("img/bronze.png");
}

.missImage {
    background-position: 0 -50px;
    background-image: url("img/miss.png");
}