.gold {
    color: #FDD017;
}

.silver {
    color: #C0C0C0;
}

.bronze {
    color: #CD7F32;
}

.goldImage {
    background-image: url("/img/gold.png");
}

.silverImage {
    background-image: url("/img/silver.png");
}

.bronzeImage {
    background-image: url("/img/bronze.png");
}

.missImage {
    background-image: url("/img/miss.png");
}