<!DOCTYPE html>
<html>
    <head>
        <title>Learn Math</title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="apple-touch-startup-image" href="img/splash.png" />
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
        <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon.png" />
        <link rel="stylesheet" href="css/lib/jqm/jquery.mobile.css" />
        <link rel="stylesheet" href="css/style.css" />
        <script data-main="js/mobile" src="js/lib/require.js"></script>
    </head>
    <body style="display: none">
        
        <div data-role="page" id="loading">
            <div data-role="content">
                <h1>Loading...</h1>
            </div>
        </div>
        
        <div data-role="page" id="registerForm">
            <div data-role="content">
                <h1>Register Form</h1>
                <label for="uid">Uid:</label>
                <input name="uid" id="uid" value="" type="text">
                <a href="#registerUid" data-role="button">Submit</a> 
            </div>
        </div>
        
        <div data-role="page" id="main">
            <div data-role="header">
                <h1>Home</h1>
            </div>
            <div data-role="content">
                <h1>Main</h1>
                Bonjour <span id="player-uid"></span>
                <ul>
                    <li class="gold">Or <span id="gold"></span></li>
                    <li class="silver">Argent <span id="silver"></span></li>
                    <li class="bronze">Bronze <span id="bronze"></span></li>
                </ul>
            </div>
            <div data-role="footer" data-position="fixed">
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <a href="#selectOp" data-role="button" data-icon="arrow-r">Next</a>
                </fieldset>
            </div> 
        </div>
        
        <div data-role="page" id="selectOp">
            <div data-role="header">
                <h1>Operation</h1>
            </div>
            <div data-role="content">
                <a href="#op?add" data-role="button">+ Addition</a>
                <a href="#op?sub" data-role="button">- Soustraction</a>
                <a href="#op?mul" data-role="button">x Multiplication</a>
                <a href="#op?div" data-role="button">/ Division</a>
            </div>
            <div data-role="footer" data-position="fixed">
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <a href="#main" data-role="button" data-icon="home">Home</a>
                </fieldset>
            </div>
        </div>
        
        <div data-role="page" id="selectWorkout">
            <div data-role="header">
                <h1 id="opName">Operation</h1>
            </div>
            <div id="workout-list" data-role="content">
            </div>
            <div data-role="footer" data-position="fixed">
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <a href="#main" data-role="button" data-icon="home">Home</a>
                    <a href="#selectOp" data-role="button" data-icon="arrow-l">Back</a>
                </fieldset>
            </div>
        </div>
        
        <div data-role="page" id="play">
            <div data-role="header">
                <div class="scorePanel">
                    Clock <span id="clock"></span> |
                    Score <span id="scoreCorrect">0</span> / <span id="scoreWrong">0</span>
                    - <span id="scorePercent">100</span>%
                </div>
            </div>
            <div data-role="content">
                <h1 class="prob"><span id="question">? ? ?</span> = <span id="answer">?</span></h1>
                <div id="numpad">
                    <div class="ui-grid-b">
                        <div class="ui-block-a">
                            <button id="d7">7</button>
                            <button id="d4">4</button>
                            <button id="d1">1</button>
                            <button id="d0">0</button>
                        </div>
                        <div class="ui-block-b">
                            <button id="d8">8</button>
                            <button id="d5">5</button>
                            <button id="d2">2</button>
                        </div>
                        <div class="ui-block-c">
                            <button id="d9">9</button>
                            <button id="d6">6</button>
                            <button id="d3">3</button>
                        </div>
                    </div>
                </div>
            </div>
            <div data-role="footer" data-position="fixed">
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <a id="play-back" href="" data-role="button" data-icon="arrow-l">Back</a>
                    <input id="start" type="button" data-icon="check" value="Start" />
                    <input id="stop" type="button" data-icon="delete" disabled="disabled" value="Stop"/>
                </fieldset>
            </div>
        </div>
        
        <div data-role="page" id="medal">
            <div data-role="header">
                <h1>Medaille</h1>
            </div>
            <div id="medalImage" data-role="content" style="height: 460px;">
            </div>
            <div data-role="footer" data-position="fixed">
                <h1>Medaille</h1>
            </div>
        </div>
    
        <!-- Underscore Template -->
        <script id="workoutItems" type="text/template">
            <%  _.each(collection.toJSON(), function(wk, id) {
                    if (wk.bank <= 15) { %>
                    <a href="#play?<%= wk.label %>" data-role="button"><%= wk.label %> - <%= wk.bank %> - <%= wk.gold %>,<%= wk.silver %>,<%= wk.bronze %>,<%= wk.miss %>,<%= wk.abort %></a>
            <%      } else { %>
                    <a href="#play?<%= wk.label %>" data-role="button" class="ui-disabled"><%= wk.label %> - <%= wk.bank %> - <%= wk.gold %>,<%= wk.silver %>,<%= wk.bronze %>,<%= wk.miss %>,<%= wk.abort %></a>
            <%      }
                }); %>
        </script>
        
    </body>
</html>